# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.sqlite3*
*.bak*
backend/venv/
backend/.env
venv/
env/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
.DS_Store
*.log

# Media / Uploads
media/
backend/media/
